@using Microsoft.AspNetCore
@using Progress.Sitefinity.AspNetCore.TagHelpers;

@model Progress.Sitefinity.AspNetCore.FormWidgets.ViewModels.TextField.TextFieldViewModel

@{
    var textBoxUniqueId = Model.FieldName;
    var ariaDescribedByAttribute = string.Empty;
    var textBoxErrorMessageId = Html.GetUniqueId("TextboxErrorMessage");
    @if (Model.HasDescription)
    {
        ariaDescribedByAttribute = $"aria-describedby='{textBoxUniqueId} {textBoxErrorMessageId}'";
    }
    else
    {
        ariaDescribedByAttribute = $"aria-describedby='{textBoxErrorMessageId}'";
    }
}

<script data-sf-role='start_field_@textBoxUniqueId' data-sf-role-field-name='@textBoxUniqueId'></script>
<div class="mb-3 @Model.CssClass" data-sf-role="text-field-container">
    <input data-sf-role="violation-restrictions" type="hidden" value='@Model.ViolationRestrictionsJson' />
    <input data-sf-role="violation-messages" type="hidden" value='@Model.ViolationRestrictionsMessages' />

    <label class="h6" for='@textBoxUniqueId'>@Model.Label</label>
    <input id='@textBoxUniqueId'
           type="@Model.InputType"
           class="form-control"
           name="@Model.FieldName"
           placeholder="@Model.PlaceholderText"
           value="@Model.PredefinedValue"
           data-sf-role="text-field-input"
           @(Model.Readonly ? "readonly" : "")
           @Html.Raw(ariaDescribedByAttribute)
           @Html.Raw(Model.ValidationAttributes) />

    @if (Model.HasDescription)
    {
        <div id='@Html.GetUniqueId("TextboxInfo")' class="form-text">@Model.InstructionalText</div>
    }

    <div id='@textBoxErrorMessageId' data-sf-role="error-message" role="alert" aria-live="assertive" class="invalid-feedback"></div>
</div>
<script data-sf-role='end_field_@textBoxUniqueId'></script>