@using Progress.Sitefinity.AspNetCore.Mvc.Rendering;

@model Progress.Sitefinity.AspNetCore.Widgets.Models.ContentList.ContentListViewModel

<div class="qu-list">
    @{
        var first = Model.Items.FirstOrDefault();
    }
    @foreach (var item in Model.Items)
    {
        var startDate = Model.GetFieldValue<DateTime>(item, "Start date");
        var endDate = Model.GetFieldValue<DateTime>(item, "End date");
        var title = Model.GetFieldValue<string>(item, "Title");
        var text = Model.GetFieldValue<string>(item, "Text");

        if (!item.Equals(first))
        {
            <hr class="qu-list__separator">
        }

        <div>
            @if (title != null)
            {
                var itemUrl = Model.GetItemUrl(this.Context, item);
                <h5 class="qu-list__title">
                    @if (itemUrl != null)
                    {
                        <a href="@itemUrl.ToString()">@title</a>
                    }
                    else
                    {
                        @Html.HtmlSanitize(title)
                    }
                </h5>
            }

            <p class="qu-list__info">@Html.FormatDate(startDate, this.Context) - @Html.FormatDate(endDate, this.Context)</p>

            @if (text != null)
            {
                <p class="qu-list__summary">@Html.HtmlSanitize(text)</p>
            }
        </div>
    }
</div>
@if (Model.Pager != null)
{
    <div class="mt-2">
        @await Html.PartialAsync("ContentPager", Model.Pager)
    </div>
}
