@using Progress.Sitefinity.AspNetCore.Mvc.Rendering;
@using Progress.Sitefinity.RestSdk.Dto;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Progress.Sitefinity.AspNetCore.Widgets.Models.ContentList.ContentListViewModel

<div class="row row-cols-1 row-cols-md-4 g-4 qu-content-list">
    @foreach (var item in Model.Items)
    {
        var image = Model.GetFirstRelatedMedia(item, "Image");
        var thumbnail = image != null ? image.GetThumbnail() : null;
        var title = Model.GetFieldValue<string>(item, "Title");
        var text = Model.GetFieldValue<string>(item, "Summary");
        var featured = item.GetValue<bool>("Featured");
        var contentListClassList = featured ? "qu-content-list__item col -featured" : "qu-content-list__item col";
        var publicationDate = item.GetValue<DateTime>("PublicationDate");

        <div>
            <div class="card h-100 @contentListClassList">
                @if (featured)
                {
                    <span class="qu-content-list__ribbon">FEATURED</span>
                }
                @if (thumbnail != null)
                {
                    <img class="card-img-top qu-content-list__image" src='@(thumbnail.Url)' title='@(thumbnail.Title)' />
                }
                else if (image != null)
                {
                    <img class="card-img-top qu-content-list__image" src='@(image.Url)' alt='@(image.AlternativeText)' title='@(image.Title)' />
                }
                <div class="card-body">
                    @if (title != null)
                    {
                        <h5 class="card-title"><a href="#" class="qu-content-list__title">@title</a></h5>
                    }
                    <div class="qu-content-list__author qu-txt-small mb-2">
                        @Html.FormatDate(@publicationDate, this.Context)
                        <div>
                            @Localizer["By"]
                            @(item.GetValue<string>("Author"))
                        </div>
                    </div>

                    @if (text != null)
                    {
                        <p class="card-text">@Html.HtmlSanitize(text)</p>
                    }

                </div>
            </div>
        </div>
    }
</div>
@if (Model.Pager != null)
{
    <div class="mt-2">
        @await Html.PartialAsync("ContentPager", Model.Pager)
    </div>
}


