@using Microsoft.AspNetCore.Html;
@model Progress.Sitefinity.AspNetCore.Widgets.Models.ContentList.ContentDetailViewModel
@{
	string classAttr = string.IsNullOrEmpty(Model.CssClass) ? null : Model.CssClass;
	var author = Model.GetFieldValue<string>("Author");
	var description = Model.GetFieldValue<string>("Description");
	var url = Model.GetFieldValue<string>("Url");
	var extension = Model.GetExtension();
	var fileSize = Model.GetFileSize();
}

<div class="@classAttr @Model.WrapperCssClass" @Html.BuildAttributes(Model.Attributes)>
    <h1>
		@Html.HtmlSanitize(Model.Item.GetValue<string>("Title"))
    </h1>

    <div >
        @Html.FormatDate(Model.Item.GetValue<DateTime>("PublicationDate"), this.Context)
        @if (!string.IsNullOrEmpty(author))
        {
            @($"by {Html.HtmlSanitize(author)}")
        }
    </div>
    @if (!string.IsNullOrEmpty(description))
    {
        <div class="margin-top-1">
            @Html.HtmlSanitize(description)
        </div>
    }

    <div class="grid-x grid-padding-x align-center margin-top-1">
        <div class="position-relative cell small-1 panel clearfix">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" viewBox="0 0 384 512" fill="#a7acb1" class="float-left">
                <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm160-14.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"></path>
            </svg>
            <span style="color: white; left: 36px; background-color:@GetFileExtensionCssClass(extension)"
                  class="sc-file-icon-extension text-uppercase float-left">@extension</span>
        </div>
        <div class="cell small-11">
            <div>
                <a href="@url" target="_blank">@Model.DownloadLinkLabel</a>
                <span>(@extension)</span>
            </div>
            <span>@fileSize</span>
        </div>
    </div>
</div>

@functions {
    string GetFileExtensionCssClass(String extension)
    {
        string color;

        switch (extension)
        {
            case "xlsx":
            case "xls":
                color = "#198754";
                break;
            case "doc":
            case "docx":
                color = "#0D6EFD";
                break;
            case "ppt":
            case "pptx":
                color = "#FD7E14";
                break;
            case "pdf":
                color = "#DC3545";
                break;
            case "zip":
            case "rar":
                color = "#6f42c1";
                break;
            default:
                color = "#6C757D";
                break;
        }

        return color;
    }
}
