@model Progress.Sitefinity.AspNetCore.Widgets.Models.Section.SectionViewModel;
@inject Progress.Sitefinity.AspNetCore.Configuration.IWidgetConfig widgetConfig;


<section style="@this.Model.SectionStyle" class="flex @this.Model.SectionClasses">
    @if (this.Model.ShowVideo && this.Model.VideoUrl != null)
    {
        <div class="sc-video__wrapper">
            <video class="sc-video__element" autoplay muted loop>
                <source src="@this.Model.VideoUrl">
            </video>
        </div>

    }
    @for (var i = 0; i < this.Model.ColumnsCount; i++)
    {
        var additionalClass = this.Model.ColumnsClasses[i];
        var cssClassPerRow = this.Model.ColumnProportions[i];
        var gridSize = widgetConfig.Styling.CssGridSystemColumnCount;
        var classValue = string.Concat(additionalClass, " w-", cssClassPerRow , "/", gridSize);
        
        <div class="@classValue" data-sfcontainer container-context="@this.Model.Context.ContainerContext(this.Model.ColumnNames[i], this.Model.ColumnTitles[i])">
        </div>
    }
</section>
