@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Progress.Sitefinity.AspNetCore
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model Renderer.Models.ContactUsForm.ContactUsFormModel

<form id="submitForm" class="qu-form -gray" method="post" asp-antiforgery="false">
    <h3 class="qu-heading-medium">@Model.Heading</h3>
    <div class="form-group">
        <label asp-for="FirstName">@Localizer["FirstName"]</label>
        <input class="form-control" asp-for="FirstName" required>
    </div>
    <div class="form-group">
        <label asp-for="LastName">@Localizer["LastName"]</label>
        <input class="form-control" asp-for="LastName" required>
    </div>
    <div class="form-group">
        <label asp-for="Email">@Localizer["Email"]</label>
        <input type="email" class="form-control" asp-for="Email" required>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">@Localizer["PhoneNumber"]</label>
        <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="555" required>
    </div>
    <div class="form-group">
        <label asp-for="YourMessage">@Localizer["YourMessage"]</label>
        <textarea class="form-control" asp-for="YourMessage" placeholder='@Localizer["YourMessagePlaceholder"]'></textarea>
    </div>
    <button class="btn w-100" id="submitButton" type="submit">Submit</button>
    <input type="hidden" asp-for="Heading" value="@Model.Heading" />
</form>

<script src="Scripts/contact-us-form.js" section-name="Bottom" assembly-ref="Renderer"></script>

<div id="submitSuccess" class="d-none mt-4">
    <p class="qu-heading-medium qu-txt-black mt-3">
        @Model.SuccessMessage
    </p>
</div>
