@using Renderer.ViewModels.Testimonial;

@model IList<ItemViewModel>

@for (var i = 0; i < this.Model.Count; i++)
{
    var item = this.Model[i];

    <div class="qu-txt-white @(i != 0 ? "qu-mt-xl" : "")">
        <div class="qu-icon-quote"></div>
        <p class="qu-txt-medium qu-mb-s">@item.Quote</p>

        <div class="media align-items-center">
            @if (item.ThumbnailUrl != null)
            {
                <img class="qu-mr-xs" src="@item.ThumbnailUrl" alt="Profile picture of @item.Title" />
            }
            <div class="media-body">
                <h4 class="qu-mb-zero">@item.Title</h4>
                <b class="qu-txt-uppercase">@item.Company</b>
            </div>
        </div>
    </div>
}