@using Renderer.ViewModels.Testimonial;

@model IList<ItemViewModel>
@{ 
    var first = Model.FirstOrDefault();
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators align-items-center">
        @for (var i = 0; i < this.Model.Count; i++)
        {
            var item = this.Model[i];

            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" @(item.Equals(first) ? "class=active" : null) aria-current="true" aria-label="Slide @i"></button>
        }
    </div>
    <div class="carousel-inner">

        @for (var i = 0; i < this.Model.Count; i++)
        {
            var item = this.Model[i];
            var carouselItemClass = item.Equals(first) ? "carousel-item active" : "carousel-item";

            <div class="@carouselItemClass">
                <div class="row qu-testimonial -single">
                    <div class="col-md-2 qu-testimonial__quote-icon">
                        <img src="/assets/images/quote-image.png" />
                    </div>
                    <div class="col-md-10 p-3 p-md-5">
                        <h3 class="qu-testimonial__quote mt-3">@item.Quote</h3>
                        <div class="row">
                            @if (item.ThumbnailUrl != null)
                            {
                                <div class="col-sm-3">
                                    <img class="me-5 rounded-circle" width="90" height="90" src="@item.ThumbnailUrl" alt="Profile picture of @item.Title" />
                                </div>
                            }
                            <div class="col-sm-9 qu-txt-medium">
                                <b class="d-block">@item.Title</b>
                                <span>@item.JobTitle, @item.Company</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
