@using Progress.Sitefinity.Renderer.Contracts.Forms
@model Progress.Sitefinity.AspNetCore.FormWidgets.ViewModels.MultipleChoice.MultipleChoiceViewModel

@{
    var layoutClass = string.Empty;
    var innerColumnClass = string.Empty;
    switch (@Model.ColumnsNumber)
    {
        case 0:
            layoutClass = "flex-container";
            innerColumnClass = "margin-right-1";
            break;
        case 2:
            layoutClass = "grid-x margin-0";
            innerColumnClass = "cell small-6";
            break;
        case 3:
            layoutClass = "grid-x cell small-6";
            innerColumnClass = "cell small-4";
            break;
        default:
            layoutClass = string.Empty;
            innerColumnClass = string.Empty;
            break;
    }
}

<script data-sf-role='start_field_@Model.FieldName' data-sf-role-field-name='@Model.FieldName'></script>
<fieldset data-sf-role="multiple-choice-field-container" class="mb-3 @Model.CssClass" aria-labelledby="choice-field-label-@Model.FieldName choice-field-description-@Model.FieldName">
    <input data-sf-role="violation-messages" type="hidden" value='@Model.ViolationRestrictionsMessages' />

    <legend class="h6" id="choice-field-label-@Model.FieldName">@Model.Label</legend>
    @if (!String.IsNullOrEmpty(Model.InstructionalText))
    {
        <p class="text-muted small" id="choice-field-description-@Model.FieldName">@Model.InstructionalText</p>
    }

    <div class="@layoutClass">
        @for (var i = 0; i < Model.Choices?.Count; i++)
        {
            var choiceOptionId = Html.GetUniqueId($"choiceOption-{i}-{Model.FieldName}");
            var choiceOption = Model.Choices[i];

            <div class="form-check @innerColumnClass">
                <input class="form-check-input" type="radio" name="@Model.FieldName" id="@choiceOptionId" value="@choiceOption.Value" data-sf-role="multiple-choice-field-input" checked="@choiceOption.Selected" @(Model.Required ? "required" : null)>
                <label class="form-check-label" for="@choiceOptionId">
                    @choiceOption.Name
                </label>
            </div>
        }

        @if (Model.HasAdditionalChoice)
        {
            var choiceOptionId = Html.GetUniqueId($"choiceOption-other-{Model.FieldName}");
            <div class="form-check @innerColumnClass">
                <input class="form-check-input mt-1" type="radio" name="@Model.FieldName" id="@choiceOptionId" data-sf-role="multiple-choice-field-input" @(Model.Required ? "required" : null)>
                <label class="form-check-label" for="@choiceOptionId">Other</label>
                <input type="text" style="display: none" class="form-control" data-sf-role="choice-other-input">
            </div>
        }
    </div>
    <div data-sf-role="error-message" role="alert" aria-live="assertive" class="form-error"></div>
</fieldset>
<script data-sf-role='end_field_@Model.FieldName'></script>
