@addTagHelper *, Progress.Sitefinity.AspNetCore

@using Progress.Sitefinity.AspNetCore.Mvc.Rendering
@model PARAGWidgets.Models.PARAGResults.PARAGResultsViewModel
@inject Progress.Sitefinity.AspNetCore.Web.IRenderContext renderContext

@if (renderContext.IsEdit || Model.SearchResults != null)
{
    <div class="@Model.CssClass" data-sf-role="ai-results"
            @Html.BuildAttributes(Model.Attributes)>
        <div class="d-flex align-items-center justify-content-between my-3">
            <h1 role="alert" aria-live="assertive">@Model.ResultsHeader</h1>
        </div>
        <div>
            <h4>@(Model.SearchResults?.Count ?? 0) @Model.ResultsNumberLabel</h4>
        </div>

        @if (Model.SearchResults != null)
        {
            <div class="mt-5" data-sf-hide-while-loading="true">
                @foreach (var item in Model.SearchResults)
                {
                    bool hasLink = !string.IsNullOrEmpty(item.Link);
                    <div class="mb-5" data-sf-role="result-item" style="display:none">
                        <div class="flex-grow-1">
                            <h3 class="mb-1">@item.Title</h3>
                            @if (hasLink)
                            {
                                <a class="text-decoration-none" href="@item.Link">@item.Link</a>
                            }
                        </div>
                    </div>
                }
            </div>

            <div class="d-flex align-items-center justify-content-between" data-sf-role="pager-container" style="display:none !important">
                <div>
                    <nav role="navigation" aria-label="Pagination">
                        <ul class="pagination" data-sf-role="pagination">
                        </ul>
                    </nav>
                </div>
                <div class="mb-3">
                    <em class="text-muted"><span data-sf-role="pager-summary"></span> <span>of @Model.SearchResults.Count @Model.ResultsNumberLabel</span></em>
                </div>
            </div>
        }

        @if (!renderContext.IsEdit)
        {
            <script type="application/json" data-sf-role="ai-results-data">
                {
                    "pageSize": @Model.PageSize
                }
            </script>

            <script src="Scripts/results.js" section-name="Bottom" assembly-ref="PARAGWidgets"></script>
        }
    </div>
}
